<template name="treetest">
  <div class="template-treetest">
    <div class="page-header">
      <h1>Your Trees</h1>
    </div>

    <p>
      This is where we'll figure out the whole tree thing. Once you click on a tree on the dashboard, it'll open the correct page to show the location, diameter & info, etc. <br>
      This is just a test. Once I get this down, I'll figure out a way to add trees and with each add it'll make it's own page like this...right? Lol<br>
    </p>

  </div>
</template>