<template name="about">
  <div class="template-about">
    <div class="page-header">
      <h1>About</h1>
    </div>

    <p>
      This site uses Meteor.<br>
      Dr. Mora provided us with Javascript for the calculations and the graphs.
    </p>

    <p>
      Users can login or view as a guest.<br>
      Users can calculate their Carbon Dioxide emissions from their transportation, housing, shopping, and food information using the CO2 Calculator.<br>
      Users can "plant trees" to neutralize this emission.<br>
      Users can compare their emission to other users.<br>
    </p>

  </div>
</template>