<template name="about">
  <div class="template-about">
    <div class="page-header">
      <h1>About</h1>
    </div>

    <p>
      This site uses Meteor, Bootstrap, CSS, HTML5, and Javascript.<br>
      Dr. Mora provided us with Javascript for graphs.
    </p>

    <p>
      Users can: <br>
      <ul>
        <li>Login or view as guest.</li>
        <li>Calculate their Carbon Dioxide emissions from their transportation, housing, shopping, and food.</li>
        <li>"Plant trees" to neutralize their emission.</li>
      </ul>
    </p>

  </div>
</template>