<template name="home">
  <div class="template-home">
    <div class="page-header">
      <h1>The Carbon Neutrality Project</h1>
      <!--Where to get info to compare; home.js can hold sorting-->
    </div>
    <p>
      How can you help solve climate change?
      <ol>
        <li>Calculate your CO2 emissions</li>
        <li>Plant the trees to sequester your emissions</li>
        <li>Reduce your CO2 emissions</li>
      </ol>
      Climate change solved!
    </p>
  </div>
  <!--
  <div id="login">
    {{> loginButtons}}
  </div>
  -->
</template>