<template name="home">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'>
  <div class="template-home">
    <div class="page-header">
      <h1>Placeholder for top people</h1>
    </div>
    <p>
      The Carbon Neutrality Project
      <ol>
        <li>Calculate your CO2 emissions</li>
        <li>Plant the trees to sequester your emissions</li>
        <li>Reduce your CO2 emissions</li>
      </ol>
      Climate change solved!
    </p>
  </div>
</template>
