<template name="home">
  <div class="template-home">
    <div class="page-header">
      <h1>Placeholder for top people</h1>
      <!--Where to get info to compare; home.js can hold sorting-->
    </div>
    <p>
      The Carbon Neutrality Project
      <ol>
        <li>Calculate your CO2 emissions</li>
        <li>Plant the trees to sequester your emissions</li>
        <li>Reduce your CO2 emissions</li>
      </ol>
      Climate change solved!
    </p>
  </div>
  <div id="login">
    {{> loginButtons}}
  </div>
</template>