<template name="dashboard">
  <div class="template-dashboard">
    <div class="page-header">
      <h1>Dashboard</h1>
    </div>
    <style>
      .imag_list ul{
        margin: 0;padding: 0;list-style: none;
      }
      .imag_list li{
        padding: 1px;
        float: left;
        height:100px;
        width:80px;
      }
      .imag_list li:first-child{
        margin-left: 0px;
      }
      .imag_list li a{
      }
      .popbox {
        display: none;
        position: absolute;
        z-index: 99999;
        width: 200px;
        padding: 10px;
        background: #EEEFEB;
        color: #000000;
        border: 1px solid #4D4F53;
        margin: 0px;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(164, 164, 164, 1);
        box-shadow: 0px 0px 5px 0px rgba(164, 164, 164, 1);
        border-radius:10px;
      }
    </style>

  <section class="mainContent">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-1"></div>
          <div class="col-md-5">
            <div class="panel panel-default" style="height:450px;">
              <div class="panel-heading"><h3>Your CO2 Balance</h3></div>
              <div class="panel-body" style="margin-left:0px;">
                <input type="hidden" name="sequencial" id="sequencial" />
                <a href="forms" ><button type="button" class="btn btn-primary">Edit Consumption</button></a>
                <a href="addTree"><button type="button" class="btn btn-primary pull-right">Your Trees</button></a>
                <div class="container" style="margin-left:0px; margin-top: 5px;">
                  <div id="container11" style="width:50%; height:350px;"> </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="panel panel-default"  style="height:450px;">
              <div class="panel-heading"><h3>CO2 Summary</h3></div>
              <div class="panel-body">
                <div class="panel-body">
                  <center><p>You contribute<b> #</b> tons of CO2 to climate change</p></center>
                  <h3>You need to plant <b> #</b> trees!</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
<!--
    <div class="container">
      <div class="head">
        <h3>YOUR PLANTED TREES</h3>
      </div>
      </div>

      <div class="imag_list">
        <ul class="list-group">

          <li>
            <a href="addTree" class="popper" data-popbox="pop0">
              <img src="http://www.webzonetechno.com/moralab/uploads/default/1434354337download.jpg" class="img-thumbnail"  id="flip" alt="news" />
            </a>
          </li>
        </ul>
        <ul class="list-group">

          <li>
            <a href="addTree" class="popper" data-popbox="pop1">
              <img src="http://www.webzonetechno.com/moralab/uploads/default/1434354337download.jpg" class="img-thumbnail"  id="flip" alt="news" />
            </a>
          </li>
        </ul>
        <ul class="list-group">

          <li>
            <a href="addTree" class="popper" data-popbox="pop2">
              <img src="http://www.webzonetechno.com/moralab/uploads/default/1434354337download.jpg" class="img-thumbnail"  id="flip" alt="news" />
            </a>
          </li>
        </ul>
        <ul class="list-group">

          <li>
            <a href="addTree" class="popper" data-popbox="pop3">
              <img src="http://www.webzonetechno.com/moralab/uploads/thumb/143476051814344640631373Low.jpg" class="img-thumbnail"  id="flip" alt="news" />
            </a>
          </li>
        </ul>
        <ul class="list-group">

          <li>
            <a href="http://www.webzonetechno.com/moralab/tree_update/50" class="popper" data-popbox="pop4">
              <img src="http://www.webzonetechno.com/moralab/uploads/thumb/143476167714344640631373Low.jpg" class="img-thumbnail"  id="flip" alt="news" />
            </a>
          </li>
        </ul>
        <ul class="list-group">

          <li>
            <a href="http://www.webzonetechno.com/moralab/tree_update/55" class="popper" data-popbox="pop5">
              <img src="http://www.webzonetechno.com/moralab/uploads/default/1434354337download.jpg" class="img-thumbnail"  id="flip" alt="news" />
            </a>
          </li>
        </ul>
      </div>
    </div>

    <script>
      $(function () {
        var moveLeft = 0;
        var moveDown = 0;
        $('a.popper').hover(function (e) {

          var target = '#' + ($(this).attr('data-popbox'));
          $(target).show();
          moveLeft = $(this).outerWidth();
          moveDown = ($(target).outerHeight() / 2);
        }, function () {
          var target = '#' + ($(this).attr('data-popbox'));
          $(target).hide();
        });
        $('a.popper').mousemove(function (e) {
          var target = '#' + ($(this).attr('data-popbox'));
          leftD = e.pageX + parseInt(moveLeft);
          maxRight = leftD + $(target).outerWidth();
          windowLeft = $(window).width() - 40;
          windowRight = 0;
          maxLeft = e.pageX - (parseInt(moveLeft) + $(target).outerWidth() + 20);
          if (maxRight > windowLeft && maxLeft > windowRight)
          {
            leftD = maxLeft;
          }

          topD = e.pageY - parseInt(moveDown);
          maxBottom = parseInt(e.pageY + parseInt(moveDown) + 20);
          windowBottom = parseInt(parseInt($(document).scrollTop()) + parseInt($(window).height()));
          maxTop = topD;
          windowTop = parseInt($(document).scrollTop());
          if (maxBottom > windowBottom)
          {
            topD = windowBottom - $(target).outerHeight() - 20;
          } else if (windowTop > maxTop) {
            topD = windowTop + 20;
          }

          $(target).css('top', topD).css('left', leftD);
        });
      });</script>


    <div id="pop0" class="popbox">
      <p><b>Milo tree</b> update photo</p>
      <p>Planted at:<br>
        Camilo Mora        </p>
      <p>on:<br>06/25/2015</p>
      <p>It may sequester:<br>6 tones of CO2 over its life time
      </p>
    </div>
    <div id="pop1" class="popbox">
      <p><b>Milo tree</b> update photo</p>
      <p>Planted at:<br>
        Camilo Mora        </p>
      <p>on:<br>06/22/2015</p>
      <p>It may sequester:<br>0 tones of CO2 over its life time
      </p>
    </div>
    <div id="pop2" class="popbox">
      <p><b>Milo tree</b> update photo</p>
      <p>Planted at:<br>
        Camilo Mora        </p>
      <p>on:<br>06/16/2015</p>
      <p>It may sequester:<br>6 tones of CO2 over its life time
      </p>
    </div>
    <div id="pop3" class="popbox">
      <p><b>Milo tree</b> update photo</p>
      <p>Planted at:<br>
        Camilo Mora        </p>
      <p>on:<br>06/23/2015</p>
      <p>It may sequester:<br>18 tones of CO2 over its life time
      </p>
    </div>
    <div id="pop4" class="popbox">
      <p><b>Milo tree</b> update photo</p>
      <p>Planted at:<br>
        Camilo Mora        </p>
      <p>on:<br>06/17/2015</p>
      <p>It may sequester:<br>0 tones of CO2 over its life time
      </p>
    </div>
    <div id="pop5" class="popbox">
      <p><b>Milo tree</b> update photo</p>
      <p>Planted at:<br>
        Camilo Mora        </p>
      <p>on:<br></p>
      <p>It may sequester:<br>4 tones of CO2 over its life time
      </p>
    </div>
-->

<!--How to call saved data?-->
    <script>
      $(function () {
        $('#container11').highcharts({
          chart: {type: 'column', marginRight: 0},
          legend: {enabled: false},
          title: {text: '', style: {display: 'none'}},
          xAxis: {categories: ['Your<br>emitted<br>CO2', 'CO2<br>sequestered<br>by your trees<br>.']},
          yAxis: {allowDecimals: false, min: 0, title: {text: 'Tonnes of CO2'}},
          tooltip: {backgroundColor: "rgba(255,255,255,1)", formatter: function () {
            return this.y + 'tons of CO2 by ' + this.series.name
          }, hideDelay: 1},
          plotOptions: {column: {stacking: 'normal', borderWidth: .9},
            series: {pointWidth: 55}
          },
          series: [
            {name: 'your tree', data: [0, 6], color: 'green'},
            {name: 'your tree', data: [0, 0], color: 'green'},
            {name: 'your tree', data: [0, 6], color: 'green'},
            {name: 'your tree', data: [0, 18], color: 'green'},
            {name: 'your tree', data: [0, 0], color: 'green'},
            {name: 'your tree', data: [0, 4], color: 'green'},

            {name: ' miles', data: [0.00, 0], color: '#8B98A4'},
            {name: ' bus', data: [0.00, 0], color: '#8B98A4'},
            {name: 'transit rail', data: [2.05, 0], color: '#8B98A4'},
            {name: 'transit commuter', data: [0.00, 0], color: '#8B98A4'},
            {name: ' transit intercity', data: [0.00, 0], color: '#8B98A4'},
            {name: ' transit air', data: [4.01, 0], color: '#8B98A4'},
            {name: ' electricity', data: [1.29, 0], color: 'rgb(220,220,200)'},
            {name: 'gas', data: [0.69, 0], color: 'rgb(220,220,200)'},
            {name: ' fuels', data: [0.68, 0], color: 'rgb(220,220,200)'},
            {name: 'water', data: [1.17, 0], color: 'rgb(220,220,200)'},
            {name: ' Beef', data: [0.00, 0], color: '#D7F57D'},
            {name: ' poultry', data: [0.00, 0], color: '#D7F57D'},
            {name: ' fish', data: [0.00, 0], color: '#D7F57D'},
            {name: 'dairy', data: [1.46, 0], color: '#D7F57D'},
            {name: 'vegetables', data: [1.83, 0], color: '#D7F57D'},
            {name: 'bakery', data: [0.53, 0], color: '#D7F57D'},
            {name: 'drinks', data: [2.81, 0], color: '#D7F57D'},
            {name: 'cloth', data: [0.09, 0], color: '#B9CDEB'},
            {name: 'furniture', data: [0.00, 0], color: '#B9CDEB'},
            {name: 'health care', data: [4.74, 0], color: '#B9CDEB'},
            {name: 'new vehicle', data: [2.60, 0], color: '#B9CDEB'},
            {name: 'house maintance', data: [0.00, 0], color: '#B9CDEB'},
          ]
        });
      });
    </script>

    <script src="http://www.webzonetechno.com/moralab/assets/js/bootstrap.min.js"></script>
    <script src="http://www.webzonetechno.com/moralab/assets/js/jquery.touchSwipe.min.js"></script>
    <script src="http://www.webzonetechno.com/moralab/assets/js/jquery.js"></script>
    <script src="http://www.webzonetechno.com/moralab/assets/js/jquery.validate.js"></script>
    <script src="http://www.webzonetechno.com/moralab/assets/js/highcharts.js"></script>
    <script src="http://www.webzonetechno.com/moralab/assets/js/exporting.js"></script>
    <script src="http://www.webzonetechno.com/moralab/scripts/carbon.js"></script>
  </div>
</template>
