<template name="foodForm">
  <div class="template-foodForm">
    <div class="page-header">
      <h1>Food</h1>
      <h3>How much do you eat per week?</h3>
    </div>

    <form class="form-horizontal" name="food">
      <fieldset>
        <legend><i class="fa fa-fire"></i> Beef, pork, lamb:</legend>
        <div class="form-group">
          <label class="control-label col-sm-2" for="meat"></label>

          <div class="col-sm-10">
            <input type="number" name="meat" id="meat" placeholder="e.g. 20">
            pounds
          </div>
        </div>
        <input type="hidden" name="meatCO2" id="meatCO2">
      </fieldset>

      <fieldset>
        <legend><i class="fa fa-shopping-cart"></i> Poultry:</legend>
        <div class="form-group">
          <label class="control-label col-sm-2" for="poultry"></label>

          <div class="col-sm-10">
            <input type="number" name="poultry" id="poultry" placeholder="e.g. 20">
            pounds
          </div>
        </div>
        <input type="hidden" name="poultryCO2" id="poultryCO2">
      </fieldset>

      <fieldset>
        <legend><i class="fa fa-cutlery"></i> Seafood:</legend>
        <div class="form-group">
          <label class="control-label col-sm-2" for="seafood"></label>

          <div class="col-sm-10">
            <input type="number" name="seafood" id="seafood" placeholder="e.g. 20">
            pounds
          </div>
        </div>
        <input type="hidden" name="seafoodCO2" id="seafoodCO2">
      </fieldset>

      <fieldset>
        <legend><i class="fa fa-leaf"></i> Vegetables:</legend>
        <div class="form-group">
          <label class="control-label col-sm-2" for="vegetables"></label>

          <div class="col-sm-10">
            <input type="number" name="vegetables" id="vegetables" placeholder="e.g. 5">
            pounds
          </div>
        </div>
        <input type="hidden" name="vegetablesCO2" id="vegetablesCO2">
      </fieldset>

      <fieldset>
        <legend><i class="fa fa-coffee"></i> Milk:</legend>
        <div class="form-group">
          <label class="control-label col-sm-2" for="milk"></label>

          <div class="col-sm-10">
            <input type="number" name="milk" id="milk" placeholder="e.g. 5">
            liters
          </div>
        </div>
        <input type="hidden" name="milkCO2" id="milkCO2">
      </fieldset>

      <fieldset>
        <legend><i class="fa fa-beer"></i> Drinks:</legend>
        <div class="form-group">
          <label class="control-label col-sm-2" for="drinks"></label>

          <div class="col-sm-10">
            <input type="number" name="drinks" id="drinks" placeholder="e.g. 5">
            liters
          </div>
        </div>
        <input type="hidden" name="drinksCO2" id="drinksCO2">
      </fieldset>

      <div id="foodSummary">
        <h3>Tons CO2 per year</h3>
        <h3><span style="color:red;" id="food"></span></h3>
      </div>

      <a class="btn btn-default" href="{{ pathFor 'dashboard' }}" role="button" id="save">Save and Continue Later</a>

      <a class="btn btn-default" href="{{ pathFor 'dashboard' }}" role="button" id="cancel">Cancel</a>

      <a class="btn btn-default" data-toggle="tab" href="#shoppingForm" role="button" id="next">Next</a>
    </form>
  </div>
</template>