<template name="forms">
  <div class="template-forms">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#transportationForm"><h2>Transportation</h2></a></li>
      <li><a data-toggle="tab" href="#housingForm"><h2>Housing</h2></a></li>
      <li><a data-toggle="tab" href="#foodForm"><h2>Food</h2></a></li>
      <li><a data-toggle="tab" href="#shoppingForm"><h2>Shopping</h2></a></li>
    </ul>

    <div class="tab-content">
      <div id="transportationForm" class="tab-pane fade in active">
        {{> transportationForm}}
      </div>
      <div id="housingForm" class="tab-pane fade">
        {{> housingForm}}
      </div>
      <div id="foodForm" class="tab-pane fade">
        {{> foodForm}}
      </div>
      <div id="shoppingForm" class="tab-pane fade">
        {{> shoppingForm}}
      </div>
    </div>
  </div>
</template>