<template name="housingForm">
  <div class="template-housingForm">
    <div class="page-header">
      <h1>Electricity</h1>
      <h3>How much do you use per year?</h3>
    </div>

    <form class="form-horizontal" name="housing">
      <fieldset>
        <legend><i class="fa fa-lightbulb-o"></i> Electricity:</legend>
        <div class="form-group">
          <label class="control-label col-sm-2" for="electricity"></label>

          <div class="col-sm-10">
            <input type="number" name="electricity" id="electricity" placeholder="e.g. 2000">
            kilowatts
          </div>
        </div>
      </fieldset>

      <fieldset>
        <legend><i class="fa fa-motorcycle"></i> Fuel:</legend>
        <div class="form-group">
          <label class="control-label col-sm-2" for="fuel"></label>

          <div class="col-sm-10">
            <input type="number" name="fuel" id="fuel" placeholder="e.g. 30">
            gallons
          </div>
        </div>
      </fieldset>

      <fieldset>
        <legend><i class="fa fa-train"></i> Gas:</legend>
        <div class="form-group">
          <label class="control-label col-sm-2" for="gas"></label>

          <div class="col-sm-10">
            <input type="number" name="gas" id="gas" placeholder="e.g. 2000">
            <select name="gasUnits" id="gasUnits">
              <option value="cubicFeet">Cubic feet</option>
              <option value="therms">Therms</option>
            </select>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <legend><i class="fa fa-tint"></i> Water:</legend>
        <div class="form-group">
          <label class="control-label col-sm-2" for="water"></label>

          <div class="col-sm-10">
            <input type="number" name="water" id="water" placeholder="e.g. 300">
            gallons
          </div>
        </div>
      </fieldset>

      <div id="housingSummary">
        <h3>Tons CO2 per year</h3>
        <h3><span style="color:red;" id="housing">Calculate here</span></h3>
      </div>

      <input type="submit" value="Save and Continue Later">
      <input type="button" value="Cancel">
      <input type="submit" value="Next">
    </form>
  </div>
</template>