<template name="transportationForm">
  <div class="template-transportationForm">
    <div class="page-header">
      <h1>Transportation</h1>
    </div>

    <form class="form-horizontal" name="transportation">
      <fieldset>
        <legend>Car:</legend>
        <div class="form-group">
          <label class="control-label col-sm-2" for="car-miles"></label>

          <div class="col-sm-10">
            <input type="number" name="car-miles" id="car-miles" placeholder="e.g. 40">
            miles
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="car-type">Fuel Type: </label>

          <div class="col-sm-10">
            <select name="car-type" id="car-miles">
              <option>Gasoline</option>
              <option>Diesel</option>
              <option>Hybrid</option>
              <option>Electric</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="car-efficiency">Fuel Efficiency: </label>

          <div class="col-sm-10">
            <input type="number" name="car-efficiency" id="car-efficiency" placeholder="e.g. 40">
            miles per gallon
          </div>
        </div>
      </fieldset>

      <fieldset>
        <legend>Motorcycle:</legend>
        <div class="form-group">
          <label class="control-label col-sm-2" for="motorcycle-miles"></label>

          <div class="col-sm-10">
            <input type="number" name="motorcycle-miles" id="motorcycle-miles" placeholder="e.g. 2000">
            miles
          </div>
        </div>
      </fieldset>

      <fieldset>
        <legend>Train:</legend>
        <div class="form-group">
          <label class="control-label col-sm-2" for="train-miles"></label>

          <div class="col-sm-10">
            <input type="number" name="train-miles" id="train-miles" placeholder="e.g. 2000">
            miles
          </div>
        </div>
      </fieldset>



      <fieldset>
        <legend>Bus:</legend>
        <div class="form-group">
          <label class="control-label col-sm-2" for="bus-miles"></label>

          <div class="col-sm-10">
            <input type="number" name="bus-miles" id="bus-miles" placeholder="e.g. 2000">
            miles
          </div>
        </div>
      </fieldset>

      <fieldset>
        <legend>Flying:</legend>
        <div class="form-group">
          <label class="control-label col-sm-2" for="flying-miles"></label>

          <div class="col-sm-10">
            <input type="number" name="flying-miles" id="flying-miles" placeholder="e.g. 2000">
            miles
          </div>
        </div>
      </fieldset>
      <input type="submit" value="Save and Continue Later">
      <input type="button" value="Cancel">
      <input type="submit" value="Next">
    </form>
    <!--
        <form class="transportation">

          <input type="number" name="car-miles" placeholder="e.g. 2000"/>

          <select name="car-type">
            <option>Gasoline</option>
            <option>Diesel</option>
            <option>Hybrid</option>
            <option>Electric</option>
          </select>

          <input type="number" name="car-efficiency" placeholder="e.g. 40"/>

          <input type="number" name="train-miles" placeholder="e.g. 2000"/>

          <input type="number" name="bus-miles" placeholder="e.g. 2000"/>

          <input type="number" name="flying-miles" placeholder="e.g. 2000"/>

          <input type="number" name="motorcycle-miles" placeholder="e.g. 2000"/>

        </form>
    -->
  </div>
</template>